---
---

@import url('https://reflected.network/assets/fontstack.css');

@import "{{ site.theme }}";


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif !important;
}

footer {
  display: none;
}

.view {
  display: none;
}

.logo-box {
  display: inline-block;
  max-width: 100px;
}


@media print,screen and (max-width:960px) {
  section {
    width: 100% !important;
  }
}
