---
---

@import "{{ site.theme }}";

@import "OpenDyslexic.css";

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

* {
  font-family: 'OpenDyslexic', serif !important;
}

p {
  font-size: 22px;
}

footer {
  display: none;
}

.view {
  display: none;
}

.logo-box {
  display: inline-block;
  max-width: 100px;
}


@media print,screen and (max-width:960px) {
  section {
    width: 100% !important;
  }
}
