---
---

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Slab&display=swap');

@import "{{ site.theme }}";


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif !important;
}

p {
  font-family: 'Poppins', sans-serif;
}

footer {
  display: none;
}

.view {
  display: none;
}

.logo-box {
  display: inline-block;
  max-width: 100px;
}


@media print,screen and (max-width:960px) {
  section {
    width: 100% !important;
  }
}
